<%- include ('header') %>
    <div class="col-sm p-3 min-vh-100">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <% if(status==500){ %>
                        <i class="bi bi-exclamation-triangle"></i>
                        <% }else{ %>
                            <i class="bi bi-check-circle"></i>
                            <% } %>
                                <strong class="me-auto">Mensagem do sistema: </strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <%= msg %>
                </div>
            </div>
        </div>
        <form id="criacao_configuracao" action="/configuracao" method="POST" novalidate>
            <input type="hidden" name="contadorUnidades" id="contadorUnidades">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="dadosCadastrais-tab" data-bs-toggle="tab"
                                        data-bs-target="#dadosCadastrais" type="button" role="tab"
                                        aria-controls="dadosCadastrais" aria-selected="true">
                                        Cadastro de empreendimento(s)
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2" id="borderedTabContent">
                                <div class="tab-pane fade active show" id="dadosCadastrais" role="tabpanel"
                                    aria-labelledby="dadosCadastrais-tab">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="empreendimento"
                                                    name="empreendimento">
                                                <label for="empreendimento">Nome</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="cep" name="cep" maxlength="9">
                                                <label for="cep">CEP</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="estado" name="estado">
                                                <label for="estado">Estado</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="cidade" name="cidade">
                                                <label for="cidade">Cidade</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="endereco" name="endereco">
                                                <label for="endereco">Endereço</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="numero" name="numero">
                                                <label for="numero">Nº</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="complemento"
                                                    name="complemento">
                                                <label for="complemento">Complemento</label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mb-2">
                                        <div class="col-12 d-flex">
                                            <h5>Inclusão de Unidade(s)</h5>
                                            <button type="button" class="btn btn-success mx-5" onclick="adicionarUnd(event)">
                                                <i class="bi bi-node-plus"></i>
                                                Adicionar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row" id="unidades">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none" id="btnEnviar">
                <div class="col">
                    <button type="submit" class="btn btn-success mt-3 w-100">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    <%- include ('footer') %>