<!DOCTYPE html>
<html>
    <head>
        <title>SOD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Incluindo Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container my-2 mt-5 d-flex align-items-center justify-content-center">
            <form id="formulario" action="/sod" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" list="modulo_dtList" id="modulo" name="modulo"
                                placeholder="Pesquisar..." required>
                            <datalist id="modulo_dtList">
                                <option value="Empresarial">
                                <option value="Construção">
                                <option value="Todos módulos">
                            </datalist>
                            <label for="modulo" class="form-label">Módulo</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" list="categoria_dtList" id="categoria" name="categoria"
                                placeholder="Pesquisar..." required>
                            <datalist id="categoria_dtList">
                                <option value="Contabilidade">
                                <option value="Controle de Qualidade">
                                <option value="Financeiro">
                                <option value="Global">
                                <option value="Materiais">
                                <option value="Patrimônio">
                                <option value="Tributos">
                                <option value="Vendas">
                                <option value="NF-e">
                                <option value="EFD Reinf">
                                <option value="Consolidação de Balanços">
                                <option value="Administração de obras">
                                <option value="Carteira de recebíveis">
                                <option value="Contratos de empreiteiros">
                                <option value="Gestão comercial">
                                <option value="Global construção">
                                <option value="Operações financeiras">
                                <option value="Planejamento estratégico">
                                <option value="Configurações Globais">
                                <option value="Fiscal (global)">
                                <option value="Fiscal (Tributos)">
                                <option value="Fiscal (Faturamento)">
                                <option value="Fiscal (Recebimento)">
                                <option value="Fiscal (NF-e)">
                                <option value="Fiscal (Configurações globais)">
                                <option value="Contrato (Contrato)">
                                <option value="Integrador">
                                <option value="MI">
                                <option value="Magnéticos">
                                <option value="Sped Contábil">
                                <option value="Sped Contábil ( Mega Sped Contábil)">
                            </datalist>
                            <label for="categoria" class="form-label">Categoria</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" list="menu_dtList" id="menu" name="menu"
                                placeholder="Pesquisar..." required>
                            <datalist id="menu_dtList">
                                <option value="Movimentações">
                                <option value="Integrações">
                                <option value="Cadastros">
                                <option value="Conciliações">
                                <option value="Configurações">
                                <option value="Apropriação imobiliária">
                                <option value="Relatórios">
                                <option value="Inspeções">
                                <option value="Documentos">
                                <option value="Qualificações">
                                <option value="Configuraçãoes">
                                <option value="Contas a pagar">
                                <option value="Contas a receber">
                                <option value="Office Banking">
                                <option value="Aplicações financeiras">
                                <option value="Controla">
                                <option value="Consultas">
                                <option value="Recursos Humanos">
                                <option value="Suprimentos">
                                <option value="Estoques">
                                <option value="Entradas">
                                <option value="Módulo Contratos">
                                <option value="Estrutura">
                                <option value="Integração">
                                <option value="Escriturações">
                                <option value="Importação de Movimentações">
                                <option value="SPED">
                                <option value="Livros">
                                <option value="Gestão comercial">
                                <option value="Ordem de expedição">
                                <option value="Saídas">
                                <option value="Exportações e importações">
                                <option value="xportações e importações">
                                <option value="Relatório">
                                <option value="Utilidades">
                                <option value="Relatorio">
                                <option value="Cadastro">
                                <option value="Demostração">
                                <option value="Planos de Informação">
                                <option value="Configuração equivalencia">
                                <option value="Configuração consolidação">
                                <option value="Configuração Consolidação">
                                <option value="Padrão">
                                <option value="Definições">
                                <option value="Orçamentos">
                                <option value="Contratos">
                                <option value="Inadimplecia">
                                <option value="Integração bancaria">
                                <option value="Banco de cláusulas">
                                <option value="Medições">
                                <option value="Propects">
                                <option value="Propostas">
                                <option value="Comissões">
                                <option value="Tabela de preços">
                                <option value="Posição unidades">
                                <option value="Ocorrencias">
                                <option value="Cadastros Auxiliares">
                                <option value="LOG">
                                <option value="Integração CRM">
                                <option value="Máscaras de minutas">
                                <option value="Fluxos dos modulos">
                                <option value="Configuração">
                                <option value="Integração folha de pagamento">
                                <option value="Processo associativo">
                                <option value="Securitização">
                                <option value="Crédito imobiliario">
                                <option value="Contole de mútuos">
                                <option value="Processos">
                                <option value="Data warehouse">
                                <option value="Todos módulos">
                                <option value="Contabilidade">
                                <option value="Financeiro">
                                <option value="Global">
                                <option value="Orçamento">
                                <option value="Patrimonio">
                                <option value="Tributos">
                                <option value="Importação de movimentações">
                                <option value="Faturamento">
                                <option value="Todos os módulos">
                                <option value="Recebimento">
                                <option value="NFS-e">
                                <option value="NF-e">
                                <option value="Configurações do módulo">
                                <option value="Painel de controle">
                                <option value="Fluxos">
                                <option value="Trasações">
                                <option value="Tarefas">
                                <option value="Gerais">
                                <option value="Mega ECD">
                                <option value="Mega ECF">
                            </datalist>
                            <label for="menu" class="form-label">Menu</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" list="submenu_1_dtList" id="submenu_1" name="submenu_1"
                                placeholder="Pesquisar..." required>
                            <datalist id="submenu_1_dtList">
                                <option value="Lotes Contábeis">
                                <option value="Lançamentos">
                                <option value="Movimentações">
                                <option value="Aberturas">
                                <option value="Renumerar lançamentos">
                                <option value="Redistribuir">
                                <option value="Encerrar">
                                <option value="Categorizar DMPL">
                                <option value="Consultar saldos">
                                <option value="Configuração da agenda">
                                <option value="Visualizar log">
                                <option value="Documentos com Erro">
                                <option value="Senior/Configuração CLC">
                                <option value="Plano de contas">
                                <option value="Centros de custo">
                                <option value="Projetos">
                                <option value="Histórico padrão">
                                <option value="DMPL/Categorias">
                                <option value="Planos Gerenciais">
                                <option value="Regras de rateio">
                                <option value="Lista de contas">
                                <option value="Grupos e itens">
                                <option value="Bancária">
                                <option value="Contábil">
                                <option value="Atualizar saldos">
                                <option value="De / Para">
                                <option value="Padrões relatórios">
                                <option value="Critérios de saldos">
                                <option value="AVP">
                                <option value="Fiscal">
                                <option value="Societária">
                                <option value="IFRS">
                                <option value="Auditoria contábil">
                                <option value="Cadastros">
                                <option value="Magnéticos">
                                <option value="Apropriação imobiliária">
                                <option value="Agentes (qualidade)">
                                <option value="Fornecedores/ itens">
                                <option value="Aplicação das normas">
                                <option value="Normas de qualidade">
                                <option value="Inspeção">
                                <option value="Qualificação">
                                <option value="Inspeção de materiais">
                                <option value="Laudo">
                                <option value="Não conformidade">
                                <option value="Follow">
                                <option value="Tipo de documento da qualidade">
                                <option value="Ação dos procedimentos">
                                <option value="Procedimentos de qualidade">
                                <option value="Atendimento">
                                <option value="Serviço">
                                <option value="Fornecedores homologados">
                                <option value="Consulta de movimentação de qualidade">
                                <option value="Encerramento da qualidade">
                                <option value="Controle de qualidade">
                                <option value="Contas a pagar">
                                <option value="Aprovação">
                                <option value="Gerar documentos de baixa">
                                <option value="Consultas">
                                <option value="Manutenção de títulos DDA">
                                <option value="Emitir cheque avulso">
                                <option value="Gera variação cambial">
                                <option value="Fatura agente estrangeiro">
                                <option value="Importar">
                                <option value="Antecipitação de pagamento">
                                <option value="Contas a receber">
                                <option value="Baixas">
                                <option value="Alterar forma de cobrança">
                                <option value="Consulta baixa por referêcia">
                                <option value="Descontar duplicadas">
                                <option value="Movimento financeiro">
                                <option value="Conciliação bancária">
                                <option value="Estorno de baixas">
                                <option value="Office banking">
                                <option value="Tranferência bancária">
                                <option value="Retornos Pendentes">
                                <option value="Configurações gerais">
                                <option value="Regras de autorização">
                                <option value="Gerador de formatos">
                                <option value="Classes gerenciais">
                                <option value="Situação de cobrança">
                                <option value="Tipos de cobrança">
                                <option value="Bancos">
                                <option value="Favorecídos">
                                <option value="Classes financeiras">
                                <option value="Tipos de documento">
                                <option value="Criterio de saldos">
                                <option value="Prioridade de pagamento">
                                <option value="Formas de pagamento">
                                <option value="Tipos de deduções de IR">
                                <option value="Históricos padrões">
                                <option value="Alterar conta prevista">
                                <option value="Relacionamento de agentes">
                                <option value="Grupos para permuta">
                                <option value="Regras de aprovação">
                                <option value="Senior configuração CIF">
                                <option value="De/Para modo de pagamento">
                                <option value="Livro caixa do produtor rural">
                                <option value="Produtos de investimento">
                                <option value="Tabela de IR">
                                <option value="Tabela de Iof">
                                <option value="Tabela Selic Meta">
                                <option value="Tipos de transação">
                                <option value="Modalidades">
                                <option value="Fluxos">
                                <option value="Premium">
                                <option value="Configurações">
                                <option value="Relatórios">
                                <option value="Data Warehouse">
                                <option value="Office Banking">
                                <option value="Mapa de classes gerenciais">
                                <option value="Financeiro Analitico">
                                <option value="Agentes">
                                <option value="Bancos e agencias">
                                <option value="Bandeiras de cartões">
                                <option value="Cadastro Wipo">
                                <option value="Condições de pagamento">
                                <option value="Impostos">
                                <option value="Resposáveis">
                                <option value="Naturezas jurídicas">
                                <option value="Classificações tributarias">
                                <option value="CNAE">
                                <option value="Processos administrativos e judiciais">
                                <option value="Índices financeiros">
                                <option value="Feriados">
                                <option value="Localidades">
                                <option value="Certificados">
                                <option value="Localizações">
                                <option value="Cargos de pessoas">
                                <option value="Tipos de observações">
                                <option value="Tipos de relacionamento">
                                <option value="Categorias">
                                <option value="Sincroniza portal">
                                <option value="Códigos de serviço">
                                <option value="Certros de custo">
                                <option value="Integração Senior">
                                <option value="Integração de movimentos">
                                <option value="Validação de documetos">
                                <option value="Painel Compliance">
                                <option value="Utilidades">
                                <option value="Agentes (materiais)">
                                <option value="Fornecedores/Itens">
                                <option value="Fornecedores/grupos">
                                <option value="Fornecedores homogolados">
                                <option value="Unidades">
                                <option value="Conversores de unidade">
                                <option value="Importar itens de estoque">
                                <option value="Especificações">
                                <option value="Ocorrêcias">
                                <option value="Estoque">
                                <option value="Engenharia de produtos">
                                <option value="Tributários">
                                <option value="Auxiliares">
                                <option value="Solicitação">
                                <option value="Cotação">
                                <option value="Pedido de compra">
                                <option value="Visões">
                                <option value="Contratos de fornecimento">
                                <option value="Requisita">
                                <option value="Cotei">
                                <option value="Movimento de estoque">
                                <option value="Movimento pendente">
                                <option value="Inventario">
                                <option value="Aviso de lançamento">
                                <option value="Refazer saldo fixo">
                                <option value="Refazer saldo valor">
                                <option value="Importar movimento estoque">
                                <option value="Recálculo da curva ABC">
                                <option value="Recálculo de estatística">
                                <option value="Distribuir entre almoxarifados">
                                <option value="Contabilização Sintética">
                                <option value="Aviso de recebimento">
                                <option value="Documento">
                                <option value="Alteração de dados tributários">
                                <option value="Gerenciador de NF e/ CT e/ NFS-e">
                                <option value="Apurar divergeências">
                                <option value="Nota complementar">
                                <option value="Conhecimento de frete">
                                <option value="Material de terceiro">
                                <option value="Etiquetas da qualidade">
                                <option value="Compras">
                                <option value="Recebimentos">
                                <option value="Controle de estoque">
                                <option value="Listagem">
                                <option value="Máscaras de grupos e itens">
                                <option value="Encerramento dos materiais">
                                <option value="Parâmetros dos materiais">
                                <option value="Sequências dos materiais">
                                <option value="Definções dos materiais">
                                <option value="Padrões dos materiais">
                                <option value="Agenda de integração">
                                <option value="Agenda de processos NF e/ CT e/ NFS-e">
                                <option value="Contratos">
                                <option value="Vínculo de contratos em massa">
                                <option value="Pedidos de compra/ Empreiteiros">
                                <option value="Follow-up">
                                <option value="Selecionar estrutura">
                                <option value="Lançamentos multiplos">
                                <option value="Mudança de estimativas">
                                <option value="Agrupar itens">
                                <option value="Gerar itens">
                                <option value="Inventário">
                                <option value="Grupos">
                                <option value="Itens">
                                <option value="Cálculos">
                                <option value="Prepara contablização">
                                <option value="Integração">
                                <option value="Desfazer cálculos">
                                <option value="Critéros de saldo">
                                <option value="Ocorrências">
                                <option value="Motivos de baixa">
                                <option value="Contratos de manutenção">
                                <option value="Apólices de seguro">
                                <option value="Processos">
                                <option value="Componentes">
                                <option value="Famílias">
                                <option value="Tipos de cobertura">
                                <option value="Fluxos de módulo">
                                <option value="Aplicação do produto">
                                <option value="ICMS">
                                <option value="Documentos fiscais">
                                <option value="Códigos NCM">
                                <option value="CFOP">
                                <option value="ZFM e áreas livres de comércio">
                                <option value="Apurações">
                                <option value="PMPF">
                                <option value="Migrate">
                                <option value="Lei transparêcia fiscal">
                                <option value="Reescrituração">
                                <option value="Resultado po CFOP/Áliquota">
                                <option value="Entradas">
                                <option value="Saídas">
                                <option value="RMD de passageiros">
                                <option value="CIAP">
                                <option value="Movimento de rubricas">
                                <option value="Apuração de impostos">
                                <option value="Documento de arrecadação">
                                <option value="FCI">
                                <option value="Movimentação de rúbricas">
                                <option value="Cargo de conhecimento">
                                <option value="CF">
                                <option value="ECF">
                                <option value="Tabelas Ato Cotepe">
                                <option value="Tabelas EFD ICMS/IPI">
                                <option value="Tabelas EFD Reinf">
                                <option value="Movimento fiscal">
                                <option value="ICMS/IPI">
                                <option value="GIA">
                                <option value="Guias">
                                <option value="ISS">
                                <option value="Exceções">
                                <option value="Agentes (vendas)">
                                <option value="Serie de documentos">
                                <option value="Grupos e Itens">
                                <option value="Tabela de preço">
                                <option value="Rotas">
                                <option value="Comissão">
                                <option value="Crédito">
                                <option value="Regras de desconto">
                                <option value="Documento de venda">
                                <option value="Gerenciar reservas">
                                <option value="Aprovar venda">
                                <option value="Cancelar documento de venda">
                                <option value="Reprogamar entrega">
                                <option value="Importar documento de venda">
                                <option value="Rentabilidade de venda">
                                <option value="Carteira de pedidos">
                                <option value="Comissões">
                                <option value="Ordem de expedição">
                                <option value="Liberar ordem de expedição">
                                <option value="Aprovar ordem de expedição">
                                <option value="Faturamentos">
                                <option value="Faturas">
                                <option value="Declaração de exportação">
                                <option value="Declaração de importação">
                                <option value="Liberar NF de importação">
                                <option value="Kardex">
                                <option value="Saldo geral">
                                <option value="Consulta de estoque">
                                <option value="Consulta de preços">
                                <option value="Padrões de vendas">
                                <option value="Definição de vendas">
                                <option value="Sequencias de vendas">
                                <option value="Prametro de vendas">
                                <option value="Encerramento de vendas">
                                <option value="Agendas">
                                <option value="Preços">
                                <option value="Orçamento">
                                <option value="Pedido de venda">
                                <option value="Faturamento">
                                <option value="Listagens">
                                <option value="Ações NF">
                                <option value="Imprimir DANFE">
                                <option value="Salvar XML NF">
                                <option value="Detalhe NF">
                                <option value="Autorização de download XML">
                                <option value="Parâmetro da NF">
                                <option value="Codigos de serviço">
                                <option
                                    value="Tabela 6 Classificação de servços prestadosmediante a cessãode mão de obra">
                                <option value="EFD Reinf Follow">
                                <option value="EFD Reinf registros">
                                <option value="Equivalencia patrimonial">
                                <option value="Consolidação">
                                <option value="Oganização">
                                <option value="Oganização Externa">
                                <option value="Investidor via SCP">
                                <option value="Periodos fiscais">
                                <option value="Visão">
                                <option value="estrutura organicional">
                                <option value="Saldos">
                                <option value="Planos de conta">
                                <option value="Centro de custo">
                                <option value="Grupos do patrimonio liquido">
                                <option value="Contas de investimento">
                                <option value="Parametos de lançamentos">
                                <option value="Plano de consolidação">
                                <option value="Eliminação intercompany">
                                <option value="Comparação manual">
                                <option value="Definições">
                                <option value="Orçamentos">
                                <option value="Planejamento">
                                <option value="Solicitações">
                                <option value="Medições">
                                <option value="Realizado">
                                <option value="Atualizar repositorio">
                                <option value="Importar orçamentos">
                                <option value="Serviços">
                                <option value="Especificar grupos e itens">
                                <option value="Gerenciais">
                                <option value="Relatórios operacionais">
                                <option value="Dashboard">
                                <option value="Tabelas de preço">
                                <option value="Encerrar movimeentações">
                                <option value="Agendar movimentações do repositório financeiro">
                                <option value="Paramentro da filial">
                                <option value="Parametros">
                                <option value="Propostas">
                                <option value="Aterar parcelas">
                                <option value="Controle de ocorrencias">
                                <option value="Taxas adicionais">
                                <option value="Amortizações">
                                <option value="Atendimento ao cliente">
                                <option value="Alterar classificações">
                                <option value="Ajustar datas de entega">
                                <option value="Controle de cheque">
                                <option value="Gerar residuo de cobrança">
                                <option value="Reajustar contratos anuais">
                                <option value="Carta de credito">
                                <option value="Vincula parcelas por empreendimento">
                                <option value="Acompanhamento datawarehousing">
                                <option value="Ataualizar contratos inadimplentes">
                                <option value="Contratos inadimplentes">
                                <option value="Gerar carta de cobrança">
                                <option value="Controle de IPTU">
                                <option value="Grar dados DIMOB">
                                <option value="Vincular e desvincular NF">
                                <option value="Exportar segurados">
                                <option value="Saldos contratuais">
                                <option value="Sincronizador">
                                <option value="Vincular parcelas">
                                <option value="Processa envio e retorno">
                                <option value="Analise da cobrança">
                                <option value="Cobrança compartilhada">
                                <option value="Causiona parcelas">
                                <option value="Convenio bancario">
                                <option value="Boletos web">
                                <option value="Agendar planilhas">
                                <option value="Distratos de contratos">
                                <option value="Distratos de termos">
                                <option value="Movimentação financeira">
                                <option value="registradora">
                                <option value="Estruturas">
                                <option value="Espelho de vendas">
                                <option value="fechamento de modulo">
                                <option value="Usuarios administradores">
                                <option value="Classificaçãode distratos">
                                <option value="Limitadores de taxa">
                                <option value="Paramentos">
                                <option value="Tipos de termos">
                                <option value="Fases inadimplencia">
                                <option value="Textos">
                                <option value="Alçada de desconto">
                                <option value="Multas de distratos">
                                <option value="Operacionais">
                                <option value="Cadastrais">
                                <option value="Campo de pesquisa">
                                <option value="Clausulas contratuais">
                                <option value="Modelos de minutas">
                                <option value="Aprovar pré">
                                <option value="Aprovar alçada">
                                <option value="Liberar itens">
                                <option value="Minutas">
                                <option value="Adiantamento">
                                <option value="Reajustrar contratos">
                                <option value="Gerar fluxos">
                                <option value="Encerrar contratos">
                                <option value="Frotas">
                                <option value="Documentos">
                                <option value="Gerenciador de NF">
                                <option value="Modelo de minutas">
                                <option value="Clásulas contratuais">
                                <option value="Campos de pesquisa">
                                <option value="Tipos de desconto">
                                <option value="Reajusar tabela de preços">
                                <option value="Signatários e funcionários">
                                <option value="Encerrar movimentações">
                                <option value="Usuarios">
                                <option value="Caracteristicas">
                                <option value="Opções de planta">
                                <option value="Fechamento de modulo">
                                <option value="Textos do agrupador de unidade">
                                <option value="Propects">
                                <option value="Converter cliente">
                                <option value="Forma de pagamento">
                                <option value="Proposta completa">
                                <option value="Proposta simples">
                                <option value="Tabela de preços">
                                <option value="Posição unidades">
                                <option value="Garagens">
                                <option value="Bens de terceiros">
                                <option value="Estrutura de terceiros">
                                <option value="Terrenos">
                                <option value="Tipos de bens">
                                <option value="Classificação de contratos">
                                <option value="Tipologia das unidades">
                                <option value="Regiões">
                                <option value="Grau de parentesco">
                                <option value="Indices financeiros">
                                <option value="Fases da obra">
                                <option value="Depósitos">
                                <option value="Importação">
                                <option value="Operações">
                                <option value="Consulta">
                                <option value="IPTU">
                                <option value="Ocorrencias de unidades">
                                <option value="Ocorrencias de garagens">
                                <option value="Ocorrencias de bens de terceiros">
                                <option value="Ocorrencias de empreendimento/etapa/Bloco">
                                <option value="Tipos de ocorrencia">
                                <option value="Motivos">
                                <option value="Tipos de campo">
                                <option value="Máscaras">
                                <option value="Configuração">
                                <option value="Agendamento">
                                <option value="Log">
                                <option value="Cláusulas contratuais">
                                <option value="Planejamento estrategico">
                                <option value="Contratos de empreiteiros">
                                <option value="Administrações de materiais">
                                <option value="Cateira de recebiveis">
                                <option value="Administração de obras">
                                <option value="Estudo de viabilidade">
                                <option value="Gestão comercial">
                                <option value="Parametos">
                                <option value="Gestão de repasses">
                                <option value="Integração portal de repasse">
                                <option value="Ocorrencias">
                                <option value="Parâmetros">
                                <option value="Securitização de parcelas">
                                <option value="Crédito imobiliario">
                                <option value="Cadastos">
                                <option value="Contole de mutuos">
                                <option value="Geração de planilhas">
                                <option value="Orçamento gerencial">
                                <option value="Viabilidade e planejamento">
                                <option value="Executar">
                                <option value="Agendar">
                                <option value="Segurança">
                                <option value="Costumizações">
                                <option value="Códigos de ação">
                                <option value="Registrar sistema">
                                <option value="Replicar parametros">
                                <option value="Data futura">
                                <option value="Gerenciador de dados">
                                <option value="Sincroniza portais">
                                <option value="Padrões">
                                <option value="Sequencias">
                                <option value="Encerramento">
                                <option value="Contabilização">
                                <option value="Mascaras">
                                <option value="Padrões de integração">
                                <option value="Definições de integração">
                                <option value="Responsáveis">
                                <option value="Naturezas juridicas">
                                <option value="Classificação tributaria">
                                <option value="CNEA">
                                <option value="Indicies financeiros">
                                <option value="Validação de documentos">
                                <option value="Painel compliance fiscal">
                                <option value="Codigos NCM">
                                <option value="ZFM e áreas de livre comérco">
                                <option value="Lei tranparecia fiscal">
                                <option value="Observação fiscal">
                                <option value="Resultado por CFOP/Aliquota">
                                <option value="Integração Compliance Fiscal Senior">
                                <option value="DIME SC">
                                <option value="Movimentação de rubricas">
                                <option value="Carga conhecimento">
                                <option value="CF-e">
                                <option value="Tabela Atos Cotepe">
                                <option value="Tabela EFD ICMS/IPI">
                                <option value="Tipo de documento">
                                <option value="Serie de documento">
                                <option value="Tributarios">
                                <option value="Codigo de enquadramento de IPI">
                                <option value="Codigos de trbutação">
                                <option value="Regras do ICMS">
                                <option value="Regras do PIS/COFINS">
                                <option value="Modelo">
                                <option value="Tipo de documento fiscal">
                                <option value="Serie/subserie">
                                <option value="Lei transparescia fiscal">
                                <option value="Codigo especificador da substituição tributaria">
                                <option value="CST do ICMS">
                                <option value="CST do IPI">
                                <option value="FCI- produtos">
                                <option value="FCI- Importação">
                                <option value="ZFM e áreas de livre comercio">
                                <option value="Suframa XML">
                                <option value="Relação de materiais dedutíveis- RMD">
                                <option value="Importar documentos">
                                <option value="Consulta de preço">
                                <option value="Regra de desconto">
                                <option value="Regras de busca de preços">
                                <option value="Fornecedores/itens">
                                <option value="Clientes/itens">
                                <option value="Unidaes">
                                <option value="Gerenciador de NF-e/ CT-e/NFS-e">
                                <option value="Importar recebimentos">
                                <option value="Importar conhecimentos de frete">
                                <option value="Agenda de processos NF-e/ CT-e/NFS-e">
                                <option value="Definição do item">
                                <option value="Fórmulas">
                                <option value="Observações padrão">
                                <option value="Marcas">
                                <option value="Usuario do modulo">
                                <option value="Sazionalidades">
                                <option value="Similaridades">
                                <option value="Tipos de classes">
                                <option value="Tipos de preço">
                                <option value="Confirmar MDF-e">
                                <option value="Autorização de Dowload XML">
                                <option
                                    value="Tabela 6- Classificação de serviços prestados mediante cessão de mão de obra">
                                <option value="Tabelas EFD Reinf/Follow up">
                                <option value="Tabelas EFD Reinf/Registros">
                                <option value="Registrar sitema">
                                <option value="Sincroniza Portais">
                                <option value="definiçãoes">
                                <option value="Costumizados">
                                <option value="Períodos">
                                <option value="Tipo de contrato">
                                <option value="Tipo documento de medição">
                                <option value="Tipo de garantia">
                                <option value="Tipo de controle">
                                <option value="Unidaes de medida">
                                <option value="Código alternativo">
                                <option value="Grupo do item">
                                <option value="Usuário do modulo">
                                <option value="Grupos de controle de acesso">
                                <option value="Parametos financeiros">
                                <option value="Templates">
                                <option value="Deduçãoes de impostos">
                                <option value="Consulta de faturas">
                                <option value="Provisões de faturamento">
                                <option value="Importação de medição">
                                <option value="Importação de contratos">
                                <option value="Importação de desempenho">
                                <option value="Agenda de integrações">
                                <option value="Alertas">
                                <option value="Painel de controle">
                                <option value="Fluxo principai">
                                <option value="Publicar serviços">
                                <option value="Configurar serviços">
                                <option value="Configurar de/para">
                                <option value="Sistemas">
                                <option value="Função de Oracle">
                                <option value="Configurar">
                                <option value="Lista de distribuição">
                                <option value="Servidores">
                                <option value="Servidores SMTP">
                                <option value="Organização resposável">
                                <option value="Sócio ostencivo">
                                <option value="Plano referencial">
                                <option value="Signários">
                                <option value="Parametros de organização">
                                <option value="Bloco 1- Lançametos contábeis">
                                <option value="Bloco 1- Demostrações contábeis">
                                <option value="Bloco K- Conglomerados econômicos">
                                <option value="Registros 0150- Participantes">
                                <option value="Registro 1012- Atualização do hash">
                                <option value="Registro 1200- Lançamentos extemporâneos">
                                <option value="Registro 1550- Razão auxiliar subcontas">
                                <option value="Registros J100/J150/J210- Plano de demostração">
                                <option value="Livro costumizado ativo">
                                <option value="Parametros da organização">
                                <option value="Bloco X- Informações econômicas">
                                <option value="Bloco Y- Informações gerais">
                                <option value="Bloco W- Declarações país a país">
                                <option value="Bloco Q- Livro caixa">
                                <option value="Bloco V- DEREX">
                            </datalist>
                            <label for="submenu_1" class="form-label">Submenu 1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" list="submenu_2_dtList" id="submenu_2" name="submenu_2"
                                placeholder="Pesquisar..." required>
                            <datalist id="submenu_2_dtList">
                                <option value="Gerar">
                                <option value="Desfazer">
                                <option value="Último log">
                                <option value="Orçamento">
                                <option value="Contabilidade">
                                <option value="Critérios de conversão">
                                <option value="Agente">
                                <option value="Centro de custos">
                                <option value="Cálculo">
                                <option value="Critérios">
                                <option value="Processo fiscal">
                                <option value="Inclusão do saldo inicial fiscal">
                                <option value="Exclusão do processo fiscal">
                                <option value="Processo Societário POC">
                                <option value="Inclusão do saldo inicial societário POC">
                                <option value="Exclusão do processo societário POC">
                                <option value="Processo societário IFRS">
                                <option value="Inclusão do saldo inicial societário IFRS">
                                <option value="Exclusão do processo societário IFRS">
                                <option value="Balancetes">
                                <option value="Balanços">
                                <option value="Demonstração do resultado">
                                <option value="DFC">
                                <option value="DLPA">
                                <option value="Razões">
                                <option value="Razões personalizados">
                                <option value="Diários">
                                <option value="Termo de abetura ou encerramento">
                                <option value="Balancetes Gerenciais">
                                <option value="DMPL">
                                <option value="DVA">
                                <option value="Lançamentos">
                                <option value="Log Integração">
                                <option value="Planos de contas">
                                <option value="Centros de custos">
                                <option value="Histórico padrão">
                                <option value="Lote">
                                <option value="Plano Gerencial">
                                <option value="Regras de rateio">
                                <option value="Gravidade">
                                <option value="Características de amostragem">
                                <option value="Plano de amostragem">
                                <option value="Resultado da qualidade">
                                <option value="Tipos de não conformidade">
                                <option value="Skip lote">
                                <option value="Laboratório">
                                <option value="Especificações">
                                <option value="Cadastro de qualificação">
                                <option value="Grupo de qualificação">
                                <option value="Status do fornecedor">
                                <option value="Status do IQF">
                                <option value="Baixa por referência">
                                <option value="RPA">
                                <option value="Faturas a pagar">
                                <option value="Baixa contas a pagar">
                                <option value="Cadastro de fornecedores">
                                <option value="Consulta de lançamentos">
                                <option value="Faturas a receber">
                                <option value="Baixa contas a receber">
                                <option value="Descontos e acréscimo">
                                <option value="Fluxo do módulo">
                                <option value="Adiantamentos">
                                <option value="Permutas">
                                <option value="Ficha finaceira">
                                <option value="Log Int. Financeira">
                                <option value="Importar movimentos financeiros">
                                <option value="Epécie de documentos">
                                <option value="Tipos de documentos">
                                <option value="Financeiro">
                                <option value="Imóveis">
                                <option value="Terceiros">
                                <option value="Signitários">
                                <option value="Produtor rural/projeto">
                                <option value="Configurações dos registros">
                                <option value="Conferência">
                                <option value="Previstos">
                                <option value="Realizados">
                                <option value="Simulações">
                                <option value="Personalizado 1">
                                <option value="Personalizado 2">
                                <option value="Classe x Projeto">
                                <option value="Diponibilidade">
                                <option value="Tipos de cenários">
                                <option value="Cenários">
                                <option value="Variáveis fluxo de Diponibilidade">
                                <option value="Parâmetros">
                                <option value="Gerenciais">
                                <option value="Executar">
                                <option value="Agendar">
                                <option value="Compromisso em aberto">
                                <option value="Compromissos baixados">
                                <option value="Compromissos cadastrados">
                                <option value="Cheques">
                                <option value="Autorização de pagamento">
                                <option value="Receitas baixadas">
                                <option value="Receitas em aberto">
                                <option value="Receitas cadastradas">
                                <option value="Boletos">
                                <option value="Movimentos financeiros">
                                <option value="Mapas de classes">
                                <option value="Mapas de projetos">
                                <option value="Mapas de categorias">
                                <option value="Mapas de centro de custo">
                                <option value="Pagamento eletronico">
                                <option value="Cobrança bancaria">
                                <option value="Contas a pagar">
                                <option value="Contas a receber">
                                <option value="A pagar">
                                <option value="A receber">
                                <option value="IRRF">
                                <option value="RRA para DIRF">
                                <option value="INSS">
                                <option value="DARF">
                                <option value="Países">
                                <option value="Estados e Municípios">
                                <option value="Tios de logradouros">
                                <option value="Tipos de endereços">
                                <option value="Empresas certificadoras">
                                <option value="Certificados de qualidadade">
                                <option value="De/Para">
                                <option value="Parâmetros financeiros">
                                <option value="Parâmetros WebService">
                                <option value="De/Para Filial Compliance">
                                <option value="Colaborador">
                                <option value="Função">
                                <option value="Jornada">
                                <option value="CBO">
                                <option value="Modo recebimento">
                                <option value="Ocorência SEFIP">
                                <option value="Tipo de admissão">
                                <option value="Tipo de colaborador">
                                <option value="Tipo de recebimento">
                                <option value="Tipo de salário">
                                <option value="Vínculo empregatício">
                                <option value="Importação Colaboradores">
                                <option value="Importação Pessoas">
                                <option value="Grupos e itens">
                                <option value="Agentes (materiais)">
                                <option value="Fornecedores/Itens">
                                <option value="Fornecedores/grupos">
                                <option value="Fornecedores homogolados">
                                <option value="Unidades">
                                <option value="Conversores de unidade">
                                <option value="Importar itens de estoque">
                                <option value="Ocorrêcias de solicitação">
                                <option value="Ocorrêcias de cotação">
                                <option value="Ocorrêcias de pedido de compra">
                                <option value="Ocorrêcias">
                                <option value="Almoxarifado">
                                <option value="Natureza de estoque">
                                <option value="Tipos de movimneto">
                                <option value="Atributos">
                                <option value="Caracteristicas de estoque">
                                <option value="Lista de materiais">
                                <option value="Estrutura de produtos">
                                <option value="Calcula low level code">
                                <option value="Aplicação de produto">
                                <option value="CFOP">
                                <option value="Códigos de tributação">
                                <option value="Códgos NCM">
                                <option value="Códigos de serviço">
                                <option value="CST do ICMS">
                                <option value="CST do IPI">
                                <option value="Modelo">
                                <option value="Tipo de documento fiscal">
                                <option value="Serie/subserie">
                                <option value="Observação fiscal">
                                <option value="Regras do ICMS">
                                <option value="Regras do PIS/COFINS">
                                <option value="Codigo de enquadramento do IPI">
                                <option value="Unidade Fiscal">
                                <option value="Critérios de saldo">
                                <option value="Definição do item">
                                <option value="Definição de divergencias">
                                <option value="Fórmulas">
                                <option value="Integrar solicitações">
                                <option value="Observações padrões">
                                <option value="Perfils de alçada">
                                <option value="Séries do pedido">
                                <option value="Marcas">
                                <option value="Aplicação das normas">
                                <option value="Normas de qualidae">
                                <option value="Usuário de modulo de materiais">
                                <option value="Sazionalidaes">
                                <option value="Similaridade">
                                <option value="Tipos de classes">
                                <option value="Tipos de preços">
                                <option value="Lista de itens da solicitação">
                                <option value="Solicitação">
                                <option value="Aprovação tecnica">
                                <option value="Aprovação de estoque">
                                <option value="Aprovação orçamentaria">
                                <option value="Aprovação pré-cotação">
                                <option value="Baixar solicitação">
                                <option value="Cotação de preço">
                                <option value="Lotes de cotação">
                                <option value="Aprovação do mapa de cotação">
                                <option value="Pedido de compra">
                                <option value="Aprovação de alçada">
                                <option value="Aprovação orçamentaria do pedido">
                                <option value="Confirmação do pedido">
                                <option value="Baixa manual do pedido">
                                <option value="Importar pedido de compra">
                                <option value="Dashboard de compras">
                                <option value="Follow-up de solicitação">
                                <option value="Follow-up de pedidos de compra">
                                <option value="Previsões de entrega">
                                <option value="Configurações de itens">
                                <option value="Configurações de usuário">
                                <option value="Kardex">
                                <option value="Saldo geral">
                                <option value="Consulta de estoque">
                                <option value="Varição de custo">
                                <option value="Analise da data de validade">
                                <option value="Memoria de calculo">
                                <option value="Ficha de contagem">
                                <option value="Digitação da contagem">
                                <option value="Apuração de diferenças">
                                <option value="Importar inventário">
                                <option value="Aviso de lançamento">
                                <option value="Aprovação de aviso de lançamento">
                                <option value="Baixa de recebimento/ ordem">
                                <option value="Follow up de notas de terceiro">
                                <option value="Controle de notas de terceiro">
                                <option value="Solicitações">
                                <option value="Cotações">
                                <option value="Contratos de fornecimento">
                                <option value="Pedidos de compra">
                                <option value="Carteira de pedidos">
                                <option value="Notas fiscais recebidas">
                                <option value="Laudo de inspeção">
                                <option value="Lotes internos">
                                <option value="Estatísticas dos recebimentos">
                                <option value="Contratos">
                                <option value="Necessidade de compra">
                                <option value="Inventário">
                                <option value="Ficha Kardex">
                                <option value="Físico/ financeiro">
                                <option value="Gestão de estoque">
                                <option value="Itens">
                                <option value="Projetos">
                                <option value="Centro de custo">
                                <option value="Itens/ Responsáveis">
                                <option value="Itens/ Localizações">
                                <option value="Itens/ Centros de custo">
                                <option value="Itens/ Projetos">
                                <option value="Famílias">
                                <option value="Tipos de cobertura">
                                <option value="Apólices de seguro">
                                <option value="Contratos de manutenção">
                                <option value="Componentes">
                                <option value="Processos">
                                <option value="Motivo da baixa">
                                <option value="Regras">
                                <option value="Serie e subserie">
                                <option value="Configuração do imposto">
                                <option value="Rubricas">
                                <option value="Item">
                                <option value="Tabela">
                                <option value="Padrão">
                                <option value="Municipio">
                                <option value="Natureza da operação">
                                <option value="Documentos de entrada">
                                <option value="Documentos de saída">
                                <option value="Produtos">
                                <option value="Importação">
                                <option value="EFD Contribuições">
                                <option value="EFD ICMS/IPI- blocos">
                                <option value="Código de ajuste de apuração do ICMS- Ato Cotepe n 35/05">
                                <option value="4.5.4- Codigo de ajuste da apuração do IPI">
                                <option value="4.5.5- Classificações de contribuintes do IPI">
                                <option value="5.1.1- Codigo de ajuste de apuração">
                                <option
                                    value="5.2- Tabela de informações adicionais da apuração - Valores declaratórios">
                                <option value="5.3- Codigo de ajuste do documento fiscal">
                                <option value="5.7- Tabela de codigos de motivo de restrição e complementação de ICMS">
                                <option value="5.8- Tabela de código de produto usina">
                                <option value="Itens UF- Itens de participação dos municipios">
                                <option
                                    value="5.1.1- Contribuição previdenciaria sobre a receita bruta- códigos de atvidade">
                                <option
                                    value="Tabela 6- Classificação de serviços prestados mediante cessão de mão de obra">
                                <option value="Registro de entradas">
                                <option value="Registro de saídas">
                                <option value="Registro de apuração de  ICMS">
                                <option value="Registro de apuração de  IPI">
                                <option value="Serviços/ISS">
                                <option value="GIA eletronica">
                                <option value="GIA DF">
                                <option value="Resumo de guias">
                                <option value="Recolhimento de imposto">
                                <option value="GIA-SP - Tabela 13">
                                <option value="GIA-RJ - Tabela de ocorencia">
                                <option value="Regimes de apuração/UF">
                                <option value="Codigo especificador da substituição tributária">
                                <option value="Lista de serviços">
                                <option value="Codigos NBS">
                                <option value="CFPS">
                                <option value="Codigos de receita">
                                <option value="Cadastro do imposto">
                                <option value="Guia de recolhimento">
                                <option value="Fornecedor/Item">
                                <option value="Cliente/Item">
                                <option value="Filial/Item">
                                <option value="Região de vendas">
                                <option value="Roteiro de representantes">
                                <option value="Rotas de entrga">
                                <option value="Simulação de preço e venda">
                                <option value="Condição de pagamento">
                                <option value="Observação padrão">
                                <option value="Ocorrencia">
                                <option value="Indicador de rentabilidade">
                                <option value="Picking list">
                                <option value="Desbloquear documentos">
                                <option value="Aplicação de produtos">
                                <option value="Codigos NCM">
                                <option value="Código de enquadramento de IPI">
                                <option value="Regras ICMS">
                                <option value="Regras PIS/COFINS">
                                <option value="Lei de transparencia fiscal">
                                <option value="Código especificador da substituição tributaria">
                                <option value="FCI - produtos">
                                <option value="FCI - Importação">
                                <option value="Unidade fiscal">
                                <option value="ZFM e areas de livre comercio">
                                <option value="Migrate Padrão">
                                <option value="Migrate Município">
                                <option value="Migrate natureza de operação">
                                <option value="Equipe de vendas">
                                <option value="Percentual de comissão">
                                <option value="Tipos de comissão">
                                <option value="Grupos de crédito">
                                <option value="Conceito de cliente">
                                <option value="Situação de cliente">
                                <option value="Regras de aprovação">
                                <option value="Reajuste limite de crédito">
                                <option value="Analise de credito">
                                <option value="Tipo de desconto">
                                <option value="Desconto">
                                <option value="Dashboard de vendas">
                                <option value="Follow-up de vendas">
                                <option value="Acompanhamento de documento de venda">
                                <option value="Proximos faturamentos">
                                <option value="Fechar comissões">
                                <option value="Recalculo de comissão">
                                <option value="Faturar pedidos">
                                <option value="Faturar ordens de expedição">
                                <option value="Nota fiscal">
                                <option value="Imprimir notas fiscais">
                                <option value="Faturamento automático">
                                <option value="Faturamento manual">
                                <option value="Análise de crédito e orçamento">
                                <option value="Tranferencia de notas fiscais">
                                <option value="Regras de busca de preços">
                                <option value="Backup da tabela de preço">
                                <option value="Agenda da analise de crédito">
                                <option value="Conceito de crédito">
                                <option value="Equipe">
                                <option value="Grupos e agentes">
                                <option value="Observação">
                                <option value="Produto e cliente">
                                <option value="Regiões de vendas">
                                <option value="Serie de documento de vendas">
                                <option value="Situação de credito">
                                <option value="Tabela de preço">
                                <option value="Tipo de documento">
                                <option value="Aprovar solicitações">
                                <option value="Follow-up de solicitações">
                                <option value="Medições">
                                <option value="Aprovar medições">
                                <option value="Follow-up de medições">
                                <option value="Atualizar realizando medido">
                                <option value="Apropiar movimentos">
                                <option value="Auditoria de custo">
                                <option value="Entrada de documentos">
                                <option value="Apropiar adiantamentos">
                                <option value="Movimento inicial">
                                <option value="Apropiação folha de pagamento">
                                <option value="Cronogama de compras">
                                <option value="Cronogama financeiro">
                                <option value="Cronogama físico">
                                <option value="Acompanhamento de obra">
                                <option value="Conciliação financeira">
                                <option value="Avaliação do desempeno">
                                <option value="Realizando orçamento executivo">
                                <option value="Custo por nível">
                                <option value="Acompanhar resultado">
                                <option value="Mapa resumo">
                                <option value="Acompanhar medições">
                                <option value="Acompanhar srviços">
                                <option value="Avanço serviços">
                                <option value="Comparativo de medições">
                                <option value="Desempenho de projeto">
                                <option value="Analise de solicitação">
                                <option value="Demostrativo de solicitação">
                                <option value="Unidades x Tipos de unidade">
                                <option value="Faixa de curva ABC">
                                <option value="Calendários">
                                <option value="Agrupadores (composição)">
                                <option value="Plano de orçamento">
                                <option value="Padrões de serviço">
                                <option value="Cores x Nivel">
                                <option value="Alterar">
                                <option value="Atualizar status">
                                <option value="Fechar vencidas">
                                <option value="Vicular">
                                <option value="Aplicar">
                                <option value="SAC- Bens">
                                <option value="Tabela price- Bens">
                                <option value="Tabela price">
                                <option value="Configurar agenda">
                                <option value="Recebiveis">
                                <option value="Saldos">
                                <option value="Ataliza dados warehouse">
                                <option value="Monitoriamento">
                                <option value="Cadastrar">
                                <option value="Aditivos">
                                <option value="Pré-medições">
                                <option value="Follow-up de pré-medições">
                                <option value="Representantes">
                                <option value="Administradores">
                                <option value="Imovel (acessorios)">
                                <option value="Midia utlizada">
                                <option value="Locais de atendimento">
                                <option value="Metragem desejada">
                                <option value="Faixa de valores">
                                <option value="Faixa salarial">
                                <option value="Motivo da proucura">
                                <option value="Alçada de aprovações">
                                <option value="Taxa para calculo valor presente">
                                <option value="Tipos de recebimento do Ato">
                                <option value="Faixa percentual">
                                <option value="Regras de fatores de correção">
                                <option value="Status personalizado">
                                <option value="Modelos">
                                <option value="Clausulas">
                                <option value="Campos de pesquisa">
                                <option value="Clasificação do comissionado">
                                <option value="Tipos de comissionados">
                                <option value="Tipos de comissão equipes">
                                <option value="Regra de descontos">
                                <option value="Evento">
                                <option value="Equipes">
                                <option value="Motivo">
                                <option value="Status/dependencia de fluxos">
                                <option value="Campos fase 3">
                                <option value="Modalidae financiamento">
                                <option value="Percentual por banco">
                                <option value="Alçada de descontos">
                                <option value="Status de fluxo">
                                <option value="Modalidade do mútuo">
                                <option value="Vigencia de alíquota">
                                <option value="Tipo de ocorrencia gerencial">
                                <option value="Tipos de orçamentos">
                                <option value="Estruturas">
                                <option value="Tipos de viabilidade">
                                <option value="Tipos de desembolso">
                                <option value="Tipos de indicador">
                                <option value="Indicadores">
                                <option value="Tributos e taxas">
                                <option value="Investidores">
                                <option value="Gestão de seguranças">
                                <option value="Grupos e usuários">
                                <option value="Perfil do usuário">
                                <option value="Nivel de acesso">
                                <option value="Hierarquia operacional">
                                <option value="Configurar senha">
                                <option value="Copia de usuário">
                                <option value="Plano de contas">
                                <option value="Plano gerencial">
                                <option value="Historico padrão">
                                <option value="Definição">
                                <option value="Variáveis da organização">
                                <option value="Lotes/ação">
                                <option value="Lotes/serie AP">
                                <option value="Tipo de conta">
                                <option value="Classes financeiras">
                                <option value="Classes gerenciais">
                                <option value="Categorias">
                                <option value="Localizações">
                                <option value="Internet">
                                <option value="Email">
                                <option value="Configuração ERP XT">
                                <option value="Configuração Wipo">
                                <option value="Plano orçamentario">
                                <option value="Itens/patrimonio">
                                <option value="Grupos/patrimonio">
                                <option value="Codigos fiscais (CFOP)">
                                <option value="Empresas certificadas">
                                <option value="Certificados de qualidade">
                                <option value="De/para">
                                <option value="Parametros financeiros">
                                <option value="Parametros WebService Rubi">
                                <option value="De/para filial compliance">
                                <option value="Modo de recebimento">
                                <option value="Ocorrencia SEFIP">
                                <option value="Tipo admissão">
                                <option value="Tipo colaborador">
                                <option value="Tipo recebimento">
                                <option value="Tipo salario">
                                <option value="Vinculo empregaticio">
                                <option value="Importação de colaboradores">
                                <option value="Importação de pessoas">
                                <option value="Codigo de tributação">
                                <option value="Munipio">
                                <option value="Natureza Operação">
                                <option value="Documento de entrada">
                                <option value="Documento de saída">
                                <option value="Baixas de titulos recebidos">
                                <option value="EDF Contribuição">
                                <option value="EDF ICMS/IPI Blocos">
                                <option value="Codigo de ajuste de apuração do ICMS-Ato Cotepe n35/05">
                                <option value="Tabela de preço fornecedor">
                                <option value="Serie de OS">
                                <option value="Tipo de serviço">
                                <option value="Variaveis pra frete">
                                <option value="Intermediador da operação">
                                <option value="Recaláculo de comissões">
                                <option value="Emitir nota fiscal">
                                <option value="Imprimir nota fiscal">
                                <option value="Faturamrento automático">
                                <option value="Faturamrento manual">
                                <option value="Importar nota fiscal">
                                <option value="Importar NFS-e">
                                <option value="Transferencia de notas fiscais">
                                <option value="Fómula">
                                <option value="Tipos de movimento">
                                <option value="Codigos de serviço">
                                <option value="Regras do PiS/COFINS">
                                <option value="Gestão de segurança">
                                <option value="Hieraquia operacional">
                                <option value="Cópia de ususario">
                                <option value="E-mail">
                                <option value="Grupos e itens de estoque">
                                <option value="Códigos fiscais (CFOP)">
                            </datalist>
                            <label for="submenu_2" class="form-label">Submenu 2</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="colaborador" id="colaborador" class="form-control" required>
                            <label for="colaborador" class="form-label">Colaborador</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="cargo" id="cargo" class="form-control" required>
                            <label for="cargo" class="form-label">Cargo</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="perfil" id="perfil" class="form-control" required>
                            <label for="perfil" class="form-label">Perfil</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="usuario_mega" id="usuario_mega" class="form-control" required>
                            <label for="usuario_mega" class="form-label">Usuário Mega</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h5>Permissões do perfil</h5>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="inserir" name="inserir" id="inserir">
                            <label class="form-check-label" for="inserir">
                                Inserir
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="consultar" name="consultar"
                                id="consultar">
                            <label class="form-check-label" for="consultar">
                                Consultar
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="editar" name="editar" id="editar">
                            <label class="form-check-label" for="editar">
                                Editar
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="deletar" name="deletar" id="deletar">
                            <label class="form-check-label" for="deletar">
                                Deletar
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-danger w-100">Salvar</button>
                    </div>
                </div>
            </form>
            <hr>
        </div>
        <div class="container my-2 mt-5 d-flex align-items-center justify-content-center">
            <table id="formulario" class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <!-- Incluindo Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="js/createChk.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>